@media only screen and (max-width: 768px) {
    .mainContent section {
        margin: 15vw auto;
        width: 90vw;
        padding-bottom: 10vw;
    }

    .mainContent .section1 {
        /* padding-right: 5vw;
        padding-bottom: 5vw;
        padding-top: 5vw; */
    }

    .mainContent .section1 h1 {
        font-size: 22px;
        line-height: 7.5vw;
        top: -4vw;
        /* right: -7vw; */
        z-index: 11;
    }

    .mainContent .section1 span {
        font-size: 30px;
    }



    .mainContent .section1 .content {}

    .mainContent .section1 .content .img {
        position: relative;
        width: 50vw;
        height: 21vw;
    }

    .mainContent .section1 .content .img img {
        position: absolute;
        top: -7.5vw;
        left: -2.5vw;
        width: 100%;
    }

    .mainContent .section1 .small_card {
        width: 75vw;
        height: 85vw;
    }

    .small_card .logoimg img {
        width: 35vw;
    }

    .small_card p {
        margin-top: 4vw;
    }

    .mainContent .section2 {
        padding: 10vw 4vw;
        margin-top: 13vw;
        margin-bottom: 4vw;
    }

    .section2 .des_card {
        width: 80vw;
        padding: 4vw;
        margin: 0 auto;
    }

    .section2 .des_card p {
        padding: 2vw;
    }

    .section2 .des_card p::before {
        width: 3vw;
        height: 3vw;

    }

    .section2 .img_social {
        width: 90vw;
        margin-left: -4vw;
        margin-top: 8vw;
    }

    .section2 .img_social .img_slider {}

    .section2 .img_social .social_box {
        height: 8vw;
    }

    .finally_des {
        font-size: 18px;
        padding: 2vw;
        width: 90vw;
        margin: 0 auto;
    }

    .finally_des::after {
        width: 3vw;
        height: 3vw;
    }
}